.container {
  margin: 2rem 3rem;
}

.container > p {
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 1rem;
}

button {
  padding: 1rem 2rem;
  background-color: #4b3869;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
}

.circle {
  margin-top: 7rem;
  background: #4b3869;
  border-radius: 30px;
  width: 150px;
  height: 150px;
}
